.football {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, #6188c4, #3b883b);
  min-height: 100vh;
  color: white;
  font-weight: 700;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

.scoreboard {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.5em;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box canvas {
  border: solid 2px black;
}

.result {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-size: 2rem;
  margin: 3em;
}

.result_message {
  font-size: 5rem;
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  justify-content: center;
  margin-top: 3em;
}

.option {
  margin: 0.5em;
}

input {
  width: 40px;
  height: 30px;
  margin-left: 1em;
}

.button {
  padding: 0.5em 1em;
  margin-top: 2em;
  font-size: 1.7rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s;
}

.button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .title {
    font-size: 1rem;
  }

  .box canvas {
    width: 580px;
  }
}

@media (min-width: 800px) {
  .box canvas {
    width: 780px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 1.5rem;
  }

  .box canvas {
    width: 1000px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 1.5rem;
  }

  .box canvas {
    width: auto;
  }
}
